#jinja2: lstrip_blocks: "True"
[Unit]
Description=WebTrees ({{ webtrees_identifier }})
{% for service in webtrees_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ webtrees_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ webtrees_identifier }} 2>/dev/null || true'

{% if webtrees_host_sysctl_minimum_net_core_rmem_max %}
ExecStartPre={{ devture_systemd_docker_base_host_command_sh }} -c 'current_rmem=$(sysctl -n net.core.rmem_max); if [ "$current_rmem" -lt {{ webtrees_host_sysctl_minimum_net_core_rmem_max }} ]; then sysctl -w net.core.rmem_max={{ webtrees_host_sysctl_minimum_net_core_rmem_max }}; fi'
{% endif %}
{% if webtrees_host_sysctl_minimum_net_core_wmem_max %}
ExecStartPre={{ devture_systemd_docker_base_host_command_sh }} -c 'current_wmem=$(sysctl -n net.core.wmem_max); if [ "$current_wmem" -lt {{ webtrees_host_sysctl_minimum_net_core_wmem_max }} ]; then sysctl -w net.core.wmem_max={{ webtrees_host_sysctl_minimum_net_core_wmem_max }}; fi'
{% endif %}

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ webtrees_identifier }} \
			--log-driver=none \
			--user={{ webtrees_uid }}:{{ webtrees_gid }} \
			--cap-drop=ALL \
			--network={{ webtrees_container_network }} \
			{% if webtrees_container_hostname %}
			--hostname={{ webtrees_container_hostname }} \
			{% endif %}                      
                        {% if webtrees_container_http_host_bind_port %}
                        -p {{ webtrees_container_http_host_bind_port }}:{{ webtrees_container_http_port }} \
                        {% endif %}
			--env-file={{ webtrees_base_path }}/env \
			--label-file={{ webtrees_base_path }}/labels \
			--mount type=bind,src={{ webtrees_data_path }},dst=/var/www/html/data \
			--mount type=bind,src={{ webtrees_log_path }},dst=/var/log/apache2 \
			{% for volume in webtrees_container_additional_volumes %}
			--mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
			{% endfor %}
			{% for arg in webtrees_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ webtrees_container_image }}

{% for network in webtrees_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ webtrees_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ webtrees_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ webtrees_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ webtrees_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ webtrees_identifier }}

[Install]
WantedBy=multi-user.target
